// ALBUM APP //

// OVERWRITES FOR REACT-AUDIOPLAYER
.hw-player-component {
  .audioElements__btnStack___JMnsK {
    background: $player_bg;
  }

  &.playing {
    .audioElements__commentsWrapperBackgroundMask___3LMXR, .audioElements__albumCoverContainer___E0mbQ {
      display: none;
    }
    .audioElements__commentsWrapperBackground___3avoO {
      filter: none;
    }
  }
}

//** PLAYLIST **//
.hw-playlist-container {
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  border-left: 1px solid $darkFont;
  z-index: 111;
  background: $player_bg;
  opacity: 1;
  width: 220px;
}

.hw-playlist {
  margin-left: 10px;
  color: $darkerFont;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aligh-items: stretch;
}

.hw-song-content, .hw-album-toggler {
  height: 100%;
  display: table;
}

.hw-song {
  flex-basis: 100%;
  position: relative;
  width: 180px;
  vertical-align: middle;
  font-family: $player_font, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 0.8em;

  .song-name {
    display: table-cell;
    vertical-align: middle;
    max-width: 160px;
    overflow-wrap: normal;
    word-break: normal;
    text-align: left;
  }
}

.hw-album-toggler {
  width: 98%;
  font-family: $player_font, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 1em;

  .hw-album-name {
    display: inline-block;
    width: 100%;
  }

  .glitch {
    color: $darkerFont;
    font-size: 1em;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }

  @keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 1px;
    text-shadow: -1px 0 red;
    top: 0;
    color: $darkerFont;
    background: $player_bg;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: $darkerFont;
    background: $player_bg;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
}

.play-handle-wrapper {
  display: table-cell;
  width: 25px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: center;
}

.handle-circle {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent $darkerFont;
  transition: all 1s ease-out;
  opacity: 0.7;
  cursor: pointer;
}

.play-handle, .play-album-handle {
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid $darkFont;
  transition: all 1s ease-out;
  opacity: 0.7;
  cursor: pointer;
}

.play-album-handle {
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: $darkerFont transparent transparent transparent;
}
