// ALBUM APP //

// OVERWRITES FOR REACT-AUDIOPLAYER
.hw-player-component {
  .audioElements__btnStack___JMnsK {
    background: $player_bg;
  }

  .audioElements__svgBtnDefault___3VrwT {
    background: $player_bg;
    color: $lightFont;
  }

  &.playing {
    .audioElements__commentsWrapperBackgroundMask___3LMXR, .audioElements__albumCoverContainer___E0mbQ {
      display: none;
    }
    .audioElements__commentsWrapperBackground___3avoO {
      filter: none;
    }
  }

  @media #{$phone} {

    .audioElements__albumCoverContainer___E0mbQ {
      width: 100%;
    }

    .audioElements__coverWrapper___2nPKG {
      width: 300px !important;
      height: 300px !important;
    }
  }

  @media #{$small_tablet} {

    .audioElements__albumCoverContainer___E0mbQ {
      justify-content: space-between;
      padding: 30px 0 0 30px;
    }

    .audioElements__albumCoverContainer___E0mbQ {
      width: 100%;
    }

    .audioElements__coverWrapper___2nPKG {
      width: 200px !important;
      height: 200px !important;
    }
  }

  @media #{$tablet} {

    .audioElements__albumCoverContainer___E0mbQ {
      justify-content: space-between;
      padding: 30px 0 0 30px;
    }

    .audioElements__albumCoverContainer___E0mbQ {
      width: 100%;
    }

    .audioElements__coverWrapper___2nPKG {
      width: 450px !important;
      height: 450px !important;
    }
  }

  @media #{$desktop} {

    .audioElements__albumCoverContainer___E0mbQ {
      justify-content: space-between;
      padding: 30px 0 0 30px;
      width: 100%;
    }

    .audioElements__coverWrapper___2nPKG {
      width: 550px !important;
      height: 550px !important;
    }
  }
}

//** PLAYLIST **//
.hw-player {
  display: flex;
  background: $player_bg;
}

.hw-playlist-container {
  flex: 0 0 230px;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid $player_bg;
  background: $player_bg;
  opacity: 1;
}

.hw-playlist {
  margin: 0 0 45px 10px;
  color: $lightFont;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hw-song-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hw-song {
  flex-basis: auto;
  position: relative;
  vertical-align: middle;
  font-family: $player_font, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 0.8em;
  cursor: pointer;

  .song-name {
    display: table-cell;
    vertical-align: middle;
    max-width: 160px;
    overflow-wrap: normal;
    word-break: normal;
    text-align: left;
  }
}

.hw-album-toggler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $lightFont;
  font-family: $player_font, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  cursor: pointer;

  .hw-album-name {
    display: inline-block;
  }

  .glitch {
    color: $lightFont;
    font-size: 1em;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }

  @keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -2px 0 red;
    top: 0;
    color: $lightFont;
    background: $player_bg;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      }
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 2px 0 blue;
    top: 0;
    color: $lightFont;
    background: $player_bg;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
}

.play-handle-wrapper {
  display: inline-block;
  width: 25px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: center;
}

.song-handle {
  content: '';
  display: inline-block;
  position: absolute;
  border-bottom: 2px solid $lightFont;
  margin-bottom: 3px;
}

.pause-handle {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;

  &::before {
    content: '';
    width: 7px;
    height: 11px;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -6px;
    border-left: 2px solid $lightFont;
    margin-bottom: 3px;
  }

  &::after {
    content: '';
    width: 7px;
    height: 11px;
    display: inline-block;
    top: -5px;
    left: -1px;
    position: absolute;
    border-left: 2px solid $lightFont;
  }
}

.play-handle {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent $lightFont;
  opacity: 0.7;
  cursor: pointer;
}

.play-handle, .play-album-handle {
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid $lightFont;
  opacity: 0.7;
  cursor: pointer;
}

.play-album-handle {
  display: inline-block;
  margin-left: 10px;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: $lightFont transparent transparent transparent;
}

/* MEDIA QUERIES
==========================================*/
@media #{$phone} {

  .hw-player {
    flex-direction: column;
  }

  .hw-playlist-container {
    flex: 1 0 140px;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .hw-album-toggler {
    justify-content: flex-start;
    margin: 0 5px;
    flex: 0 0 170px;
  }

  .hw-album-playlist {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .hw-playlist {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 0 0 10px;

  }

  .hw-song {
    flex: 1 0 60px;
    margin: 0 5px;
  }

  .play-album-handle {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid $lightFont;
  }
}
