// CONTACTS VIEW //

.hw-contacts {
  margin-bottom: 15px;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-link {
  margin: 10px 35px 10px 0;
  display: inline-block;
}

/* MEDIA QUERIES
==========================================*/
@media #{$phone} {

  .hw-contacts {
    margin-bottom: 10px;
  }
}

@media #{$small_tablet} {

  .hw-contacts {
    margin: 0;
  }
}
