// GENERAL STYLES //

// LAYOUT ELEMENTS

body {
  position: relative;
  font-size: $defaultFontSize;
  font-family: $defaultFontFamily;
  font-weight: 300;
  background: url('../../public/images/bg_cover.jpg') no-repeat fixed;
  background-size: 100% 100%;
  height: 100%;

  * {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}

.hw-app {
  position: relative;
}

header {
  width: auto !important;
}

.view-container {
  position: relative;
  margin: 60px 50px;
}

.full-view-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// CONTENT ELEMENTS

p {
  padding: 5px 0;
}

h3 {
  padding: 10px 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;

  &:visited {
    color: $darkFont;
  }

  &:focus {
    color: $darkFont;
    text-shadow: 1px 1px 5px #ddd;
  }
}

pre {
  display: inline-block;
}


// UTILITY CLASSES

.hidden {
  display: none !important;
}