// GENERAL STYLES //

// LAYOUT ELEMENTS

body {
  position: relative;
  font-size: $defaultFontSize;
  font-family: $defaultFontFamily !important;
  font-weight: 300;
  background: url('../../public/images/bg_cover.jpg') no-repeat fixed;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;

  * {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}

.hw-app {
  position: relative;
}

header {
  width: auto !important;
}

.view-container {
  position: relative;
  margin: 100px 50px 0;
}

.content-wrapper {
  width: 70%;
  margin: 0 auto;
}

.full-view-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// CONTENT ELEMENTS

p {
  padding: 5px 0;
}

h3 {
  font-size: 1.1em;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;

  &:visited {
    color: $darkFont;
  }

  &:focus {
    color: $darkFont;
    text-shadow: 1px 1px 5px #ddd;
  }
}

pre {
  display: inline-block;
}


// UTILITY CLASSES
.hidden {
  display: none !important;
}


/* MEDIA QUERIES
==========================================*/
@media #{$phone} {

  body {
    background: url('../../public/images/bg_cover.jpg') no-repeat 0 0 fixed;
    background-size: 100% 130%;
  }

  .view-container {
    margin: 50px 15px 0;
  }

  .content-wrapper {
    width: 100%;
  }
}

@media #{$small_tablet} {

  body {
    background: url('../../public/images/bg_cover.jpg') no-repeat 0 0 fixed;
    background-size: 100% 140%;
  }

  .view-container {
    margin: 40px 20px 0;
  }

  .content-wrapper {
    width: 100%;
  }
}


@media #{$desktop} {

  body {
    font-size: $desktopFontSize;
  }
}

@media #{$small_desktop} {

  body {
    font-size: $tabletFontSize;
  }
}

@media #{$tablet} {

  body {
    font-size: $tabletFontSize;
  }

  .content-wrapper {
    width: 80%;
  }
}