// NAV MENU //

.hw-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.hw-menu-list {
  display: inline-block;
  padding: 15px;
  color: $darkFont;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px $darkShadow;
  font-size: .8em;
  font-family: $brandFont, cursive;

  li {
    display: inline-block;
    margin: 0 1em;
    transition: all 0.5s ease-out;

    a {
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
  }
}