@import 'vars';
@import 'layout';
@import 'menu';
@import 'audio_player';
@import 'contact';

.brand {
  font-family: $brandFont;
  font-size: 1.2em;
}

.brand-action {
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
}

.hw-good-wish {
  text-align: center;
  padding: 0;
}






