@import url("https://fonts.googleapis.com/css?family=Oswald|Muli|Quicksand");
/* COLORS */
/*fonts */
/* FONTS
==========================================*/
@font-face {
  font-family: 'Strange Rituals';
  src: url("/fonts/strange_rituals-webfont.eot");
  src: url("/fonts/strange_rituals-webfont.ttf");
  src: url("/fonts/strange_rituals-webfont.woff");
  src: url("/fonts/strange_rituals.eot");
  src: url("/fonts/strange_rituals.otf"); }

@font-face {
  font-family: 'manic-depressiveregular';
  src: url("/fonts/manic-depressive-webfont.eot"), url("/fonts/manic-depressive-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/manic-depressive-webfont.woff2") format("woff2"), url("/fonts/manic-depressive-webfont.woff") format("woff"), url("/fonts/manic-depressive-webfont.ttf") format("truetype"), url("/fonts/manic-depressive-webfont.svg#manic-depressiveregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* MEDIA QUERIES
==========================================*/
body {
  position: relative;
  font-size: 20px;
  font-family: "Muli", sans-serif !important;
  font-weight: 300;
  background: url("../../public/images/bg_cover.jpg") no-repeat fixed;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden; }
  body * {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box; }

.hw-app {
  position: relative; }

header {
  width: auto !important; }

.view-container {
  position: relative;
  margin: 60px 50px; }

.full-view-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

p {
  padding: 5px 0; }

h3 {
  font-size: 1.1em;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: #000000; }
  a:visited {
    color: #202020; }
  a:focus {
    color: #202020;
    text-shadow: 1px 1px 5px #ddd; }

pre {
  display: inline-block; }

.hidden {
  display: none !important; }

@media screen and (max-width: 639px) {
  .view-container {
    margin: 55px 15px; } }

@media screen and (min-width: 640px) and (max-width: 767px) {
  .view-container {
    margin: 55px 20px; } }

.hw-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101; }

.hw-menu-list {
  display: inline-block;
  padding: 15px;
  color: #202020;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #ddd;
  font-size: 1.1em;
  font-family: "Oswald", sans-serif, cursive; }
  .hw-menu-list li {
    display: inline-block;
    margin: 0 1em;
    transition: all 0.5s ease-out; }
    .hw-menu-list li a {
      text-decoration: none; }
      .hw-menu-list li a.active {
        text-decoration: underline; }

.hw-player-component .audioElements__btnStack___JMnsK {
  background: #080808; }

.hw-player-component .audioElements__svgBtnDefault___3VrwT {
  background: #080808;
  color: #f5f5f5; }

.hw-player-component.playing .audioElements__commentsWrapperBackgroundMask___3LMXR, .hw-player-component.playing .audioElements__albumCoverContainer___E0mbQ {
  display: none; }

.hw-player-component.playing .audioElements__commentsWrapperBackground___3avoO {
  filter: none; }

@media screen and (max-width: 639px) {
  .hw-player-component .audioElements__albumCoverContainer___E0mbQ {
    width: 100%; }
  .hw-player-component .audioElements__coverWrapper___2nPKG {
    width: 300px !important;
    height: 300px !important; } }

@media screen and (min-width: 640px) and (max-width: 767px) {
  .hw-player-component .audioElements__albumCoverContainer___E0mbQ {
    justify-content: space-between;
    padding: 30px 0 0 30px; }
  .hw-player-component .audioElements__albumCoverContainer___E0mbQ {
    width: 100%; }
  .hw-player-component .audioElements__coverWrapper___2nPKG {
    width: 200px !important;
    height: 200px !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hw-player-component .audioElements__albumCoverContainer___E0mbQ {
    justify-content: space-between;
    padding: 30px 0 0 30px; }
  .hw-player-component .audioElements__albumCoverContainer___E0mbQ {
    width: 100%; }
  .hw-player-component .audioElements__coverWrapper___2nPKG {
    width: 450px !important;
    height: 450px !important; } }

@media screen and (min-width: 1024px) {
  .hw-player-component .audioElements__albumCoverContainer___E0mbQ {
    justify-content: space-between;
    padding: 30px 0 0 30px;
    width: 100%; }
  .hw-player-component .audioElements__coverWrapper___2nPKG {
    width: 550px !important;
    height: 550px !important; } }

.hw-player {
  display: flex;
  background: #080808; }

.hw-playlist-container {
  flex: 0 0 210px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #080808;
  background: #080808;
  opacity: 1; }

.hw-playlist {
  margin-left: 10px;
  color: #f5f5f5;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hw-song-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.hw-song {
  flex-basis: auto;
  position: relative;
  vertical-align: middle;
  font-family: "Quicksand", sans-serif, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 0.8em; }
  .hw-song .song-name {
    display: table-cell;
    vertical-align: middle;
    max-width: 160px;
    overflow-wrap: normal;
    word-break: normal;
    text-align: left; }

.hw-album-toggler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f5f5f5;
  font-family: "Quicksand", sans-serif, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 1em; }
  .hw-album-toggler .hw-album-name {
    display: inline-block; }
  .hw-album-toggler .glitch {
    color: #f5f5f5;
    font-size: 1em;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(15px, 9999px, 37px, 0); }
  5% {
    clip: rect(77px, 9999px, 73px, 0); }
  10% {
    clip: rect(45px, 9999px, 85px, 0); }
  15% {
    clip: rect(24px, 9999px, 10px, 0); }
  20% {
    clip: rect(99px, 9999px, 33px, 0); }
  25% {
    clip: rect(8px, 9999px, 36px, 0); }
  30% {
    clip: rect(56px, 9999px, 42px, 0); }
  35% {
    clip: rect(57px, 9999px, 90px, 0); }
  40% {
    clip: rect(98px, 9999px, 79px, 0); }
  45% {
    clip: rect(57px, 9999px, 12px, 0); }
  50% {
    clip: rect(10px, 9999px, 90px, 0); }
  55% {
    clip: rect(63px, 9999px, 95px, 0); }
  60% {
    clip: rect(37px, 9999px, 12px, 0); }
  65% {
    clip: rect(21px, 9999px, 30px, 0); }
  70% {
    clip: rect(22px, 9999px, 79px, 0); }
  75% {
    clip: rect(14px, 9999px, 38px, 0); }
  80% {
    clip: rect(83px, 9999px, 25px, 0); }
  85% {
    clip: rect(14px, 9999px, 80px, 0); }
  90% {
    clip: rect(23px, 9999px, 8px, 0); }
  95% {
    clip: rect(5px, 9999px, 12px, 0); }
  100% {
    clip: rect(90px, 9999px, 20px, 0); } }
  .hw-album-toggler .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -2px 0 red;
    top: 0;
    color: #f5f5f5;
    background: #080808;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(5px, 9999px, 66px, 0); }
  5% {
    clip: rect(9px, 9999px, 54px, 0); }
  10% {
    clip: rect(77px, 9999px, 9px, 0); }
  15% {
    clip: rect(21px, 9999px, 46px, 0); }
  20% {
    clip: rect(19px, 9999px, 54px, 0); }
  25% {
    clip: rect(51px, 9999px, 49px, 0); }
  30% {
    clip: rect(39px, 9999px, 64px, 0); }
  35% {
    clip: rect(81px, 9999px, 46px, 0); }
  40% {
    clip: rect(75px, 9999px, 7px, 0); }
  45% {
    clip: rect(91px, 9999px, 87px, 0); }
  50% {
    clip: rect(62px, 9999px, 49px, 0); }
  55% {
    clip: rect(19px, 9999px, 35px, 0); }
  60% {
    clip: rect(11px, 9999px, 23px, 0); }
  65% {
    clip: rect(34px, 9999px, 23px, 0); }
  70% {
    clip: rect(74px, 9999px, 55px, 0); }
  75% {
    clip: rect(85px, 9999px, 69px, 0); }
  80% {
    clip: rect(100px, 9999px, 49px, 0); }
  85% {
    clip: rect(64px, 9999px, 10px, 0); }
  90% {
    clip: rect(72px, 9999px, 93px, 0); }
  95% {
    clip: rect(28px, 9999px, 36px, 0); }
  100% {
    clip: rect(23px, 9999px, 75px, 0); } }
  .hw-album-toggler .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 2px 0 blue;
    top: 0;
    color: #f5f5f5;
    background: #080808;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse; }

.play-handle-wrapper {
  display: inline-block;
  width: 25px;
  padding-right: 5px;
  vertical-align: middle;
  text-align: center; }

.handle-circle {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent #f5f5f5;
  transition: all 1s ease-out;
  opacity: 0.7;
  cursor: pointer; }

.play-handle, .play-album-handle {
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #f5f5f5;
  transition: all 1s ease-out;
  opacity: 0.7;
  cursor: pointer; }

.play-album-handle {
  display: inline-block;
  margin-left: 10px;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #f5f5f5 transparent transparent transparent; }

@media screen and (max-width: 639px) {
  .hw-player {
    flex-direction: column; }
  .hw-playlist-container {
    flex: 1 0 140px;
    overflow-x: auto;
    overflow-y: hidden; }
  .hw-album-toggler {
    justify-content: flex-start;
    margin: 0 5px;
    flex: 0 0 170px; }
  .hw-album-playlist {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start; }
  .hw-playlist {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .hw-song {
    flex: 1 0 60px;
    margin: 0 5px; }
  .play-album-handle {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #f5f5f5; } }

.hw-contacts {
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
  display: inline-block; }

.contact-link {
  margin: 10px 55px 10px 0;
  display: inline-block; }

@media screen and (min-width: 640px) and (max-width: 767px) {
  .hw-contacts {
    margin-top: 0;
    color: #f5f5f5; }
  .contact-link {
    margin: 10px 55px 10px 0; }
    .contact-link a {
      color: #b0b0b0; }
      .contact-link a:visited {
        color: #b0b0b0; }
      .contact-link a:focus {
        color: #b0b0b0;
        text-shadow: 1px 1px 5px #ddd; } }

.brand {
  font-family: "manic-depressiveregular", serif;
  font-size: 1.2em; }

.brand-action {
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none; }
  .brand-action.inverse {
    color: #b0b0b0; }
    .brand-action.inverse:visited {
      color: #b0b0b0; }
    .brand-action.inverse:focus {
      color: #b0b0b0;
      text-shadow: 1px 1px 5px #ddd; }

.hw-good-wish.inverse {
  color: #b0b0b0; }
