@import url("https://fonts.googleapis.com/css?family=Nunito|Quicksand");
/* COLORS */
/*fonts */
/* FONTS
==========================================*/
@font-face {
  font-family: 'Strange Rituals';
  src: url("/fonts/strange_rituals-webfont.eot");
  src: url("/fonts/strange_rituals-webfont.ttf");
  src: url("/fonts/strange_rituals-webfont.woff");
  src: url("/fonts/strange_rituals.eot");
  src: url("/fonts/strange_rituals.otf"); }

@font-face {
  font-family: 'manic-depressiveregular';
  src: url("/fonts/manic-depressive-webfont.eot"), url("/fonts/manic-depressive-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/manic-depressive-webfont.woff2") format("woff2"), url("/fonts/manic-depressive-webfont.woff") format("woff"), url("/fonts/manic-depressive-webfont.ttf") format("truetype"), url("/fonts/manic-depressive-webfont.svg#manic-depressiveregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  position: relative;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: url("../../public/images/bg_cover.jpg") no-repeat fixed;
  background-size: 100% 100%;
  height: 100%; }
  body * {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box; }

.hw-app {
  position: relative; }

header {
  width: auto !important; }

.view-container {
  position: relative;
  margin: 60px 50px; }

.full-view-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

p {
  padding: 5px 0; }

h3 {
  padding: 10px 0 10px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: #000000; }
  a:visited {
    color: #000; }
  a:focus {
    color: #000;
    text-shadow: 1px 1px 5px #ddd; }

pre {
  display: inline-block; }

.hidden {
  display: none !important; }

.hw-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101; }

.hw-menu-list {
  display: inline-block;
  padding: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #ddd;
  font-size: .8em;
  font-family: "manic-depressiveregular", serif, cursive; }
  .hw-menu-list li {
    display: inline-block;
    margin: 0 1em;
    transition: all 0.5s ease-out; }
    .hw-menu-list li a {
      text-decoration: none; }
      .hw-menu-list li a.active {
        text-decoration: underline; }

.hw-player-component .audioElements__btnStack___JMnsK {
  background: #fff; }

.hw-player-component.playing .audioElements__commentsWrapperBackgroundMask___3LMXR, .hw-player-component.playing .audioElements__albumCoverContainer___E0mbQ {
  display: none; }

.hw-player-component.playing .audioElements__commentsWrapperBackground___3avoO {
  filter: none; }

.hw-playlist-container {
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  border-left: 1px solid #000;
  z-index: 111;
  background: #fff;
  opacity: 1;
  width: 220px; }

.hw-playlist {
  margin-left: 10px;
  color: #303030;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aligh-items: stretch; }

.hw-song-content, .hw-album-toggler {
  height: 100%;
  display: table; }

.hw-song {
  flex-basis: 100%;
  position: relative;
  width: 180px;
  vertical-align: middle;
  font-family: "Nunito", sans-serif, cursive;
  text-align: left;
  margin: 5px;
  padding: 0px 5px;
  font-size: 1em; }
  .hw-song .song-name {
    display: table-cell;
    vertical-align: middle;
    max-width: 160px;
    overflow-wrap: normal;
    word-break: normal;
    text-align: left; }

.hw-album-toggler {
  width: 98%;
  font-family: "Nunito", sans-serif, cursive;
  text-align: left;
  margin: 5px;
  padding: 5px;
  font-size: 1.1em; }
  .hw-album-toggler .hw-album-name {
    display: inline-block;
    width: 100%; }
  .hw-album-toggler .glitch {
    color: #303030;
    font-size: 1.1em;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(74px, 9999px, 98px, 0); }
  5% {
    clip: rect(17px, 9999px, 51px, 0); }
  10% {
    clip: rect(36px, 9999px, 1px, 0); }
  15% {
    clip: rect(27px, 9999px, 39px, 0); }
  20% {
    clip: rect(42px, 9999px, 23px, 0); }
  25% {
    clip: rect(45px, 9999px, 18px, 0); }
  30% {
    clip: rect(37px, 9999px, 6px, 0); }
  35% {
    clip: rect(54px, 9999px, 83px, 0); }
  40% {
    clip: rect(50px, 9999px, 96px, 0); }
  45% {
    clip: rect(37px, 9999px, 10px, 0); }
  50% {
    clip: rect(68px, 9999px, 45px, 0); }
  55% {
    clip: rect(73px, 9999px, 11px, 0); }
  60% {
    clip: rect(94px, 9999px, 80px, 0); }
  65% {
    clip: rect(64px, 9999px, 4px, 0); }
  70% {
    clip: rect(85px, 9999px, 67px, 0); }
  75% {
    clip: rect(77px, 9999px, 96px, 0); }
  80% {
    clip: rect(49px, 9999px, 29px, 0); }
  85% {
    clip: rect(78px, 9999px, 28px, 0); }
  90% {
    clip: rect(67px, 9999px, 72px, 0); }
  95% {
    clip: rect(81px, 9999px, 94px, 0); }
  100% {
    clip: rect(65px, 9999px, 4px, 0); } }
  .hw-album-toggler .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 1px;
    text-shadow: -1px 0 red;
    top: 0;
    color: #303030;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(58px, 9999px, 59px, 0); }
  5% {
    clip: rect(37px, 9999px, 49px, 0); }
  10% {
    clip: rect(45px, 9999px, 22px, 0); }
  15% {
    clip: rect(89px, 9999px, 9px, 0); }
  20% {
    clip: rect(53px, 9999px, 35px, 0); }
  25% {
    clip: rect(13px, 9999px, 81px, 0); }
  30% {
    clip: rect(41px, 9999px, 36px, 0); }
  35% {
    clip: rect(95px, 9999px, 83px, 0); }
  40% {
    clip: rect(5px, 9999px, 65px, 0); }
  45% {
    clip: rect(70px, 9999px, 61px, 0); }
  50% {
    clip: rect(5px, 9999px, 70px, 0); }
  55% {
    clip: rect(76px, 9999px, 44px, 0); }
  60% {
    clip: rect(8px, 9999px, 37px, 0); }
  65% {
    clip: rect(30px, 9999px, 72px, 0); }
  70% {
    clip: rect(15px, 9999px, 75px, 0); }
  75% {
    clip: rect(39px, 9999px, 10px, 0); }
  80% {
    clip: rect(75px, 9999px, 4px, 0); }
  85% {
    clip: rect(74px, 9999px, 43px, 0); }
  90% {
    clip: rect(96px, 9999px, 26px, 0); }
  95% {
    clip: rect(49px, 9999px, 26px, 0); }
  100% {
    clip: rect(83px, 9999px, 86px, 0); } }
  .hw-album-toggler .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #303030;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse; }

.play-handle-wrapper {
  display: table-cell;
  width: 25px;
  padding-right: 5px;
  vertical-align: middle; }

.handle-circle {
  display: inline-block;
  position: relative;
  border: 1px solid #303030;
  border-radius: 50%;
  width: 17px;
  height: 17px; }
  .handle-circle:before {
    content: '';
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #303030;
    transition: all 1s ease-out;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 3.5px);
    margin: auto; }

.play-handle, .play-album-handle {
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #000;
  transition: all 1s ease-out;
  opacity: 0.7;
  cursor: pointer; }

.play-album-handle {
  border-top: 10px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; }

.hw-contacts {
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
  display: inline-block; }

.contact-link {
  margin: 10px 55px 10px 0;
  display: inline-block; }

.brand {
  font-family: "manic-depressiveregular", serif;
  font-size: 1.2em; }

.brand-action {
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none; }
