// ALBUM APP //

.hw-album-active {
  position: relative;
}

.hw-player {
  width: 100%;
  height: 100%;
  position: relative;
}

.hw-player-component {
  position: fixed;

  .audioElements__btnStack___JMnsK {
    background: $player_bg;
  }
}

.hw-album-active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .album-cover {
    width: 100%;
    height: 100%;
  }
}


//** PLAYLIST **//
.hw-playlist-container {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  border-left: 1px solid #000;
  right: 0;
  top: 0;
  z-index: 1001;
  background: #fff;
  opacity: 1;
}

.hw-playlist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  aligh-items: stretch;

  .hw-song {
    flex-basis: 100%;
    position: relative;
    font-weight: 300;
    vertical-align:middle;
    width: 200px;
    font-family: $brandFont, cursive;
    text-shadow: 1px 1px 5px #ddd;
    text-align: left;

    margin: 5px;
    padding: 5px;
    font-size: 1.1em;
    border: 2px solid #000000;

   .hw-song-content {
     height: 100%;
     display: table;
   }

    .song-name {
      display: table-cell;
      vertical-align: middle;
      max-width: 160px;
      overflow-wrap: normal;
      word-break: normal;
      margin: auto;
      text-align: left;
    }
  }

  .play-handle-wrapper {
    display: table-cell;
    width: 25px;
    padding-right: 5px;
    vertical-align: middle;
  }

  .play-handle {
    display: inline-block;
    vertical-align: middle;
    transition: all 1s ease-out;
    vertical-align: middle;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #000000;
    opacity: 0.7;
    cursor: pointer;
  }
}