// CONTACTS VIEW //

.hw-contacts {
  list-style-type: none;
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
  display: inline-block;
}

.contact-link {
  margin: 10px 55px 10px 0;
  display: inline-block;
}
