// GENERAL LAYOUT //

.hw-app {
  position: relative;
}

body {
  position: relative;
  font-size: $defaultFontSize;
  font-family: $defaultFontFamily;
  font-weight: 300;
  background: url('../public/images/bg_cover.jpg') no-repeat fixed;
  background-size: 100% 100%;
}

* {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

p {
  padding: 5px 0;
}

.section-heading {
  padding: 10px 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
