/* COLORS */
/*fonts */
/* FONTS
==========================================*/
@font-face {
  font-family: 'Strange Rituals';
  src: url("/fonts/strange_rituals-webfont.eot");
  src: url("/fonts/strange_rituals-webfont.ttf");
  src: url("/fonts/strange_rituals-webfont.woff");
  src: url("/fonts/strange_rituals.eot");
  src: url("/fonts/strange_rituals.otf"); }

@font-face {
  font-family: 'manic-depressiveregular';
  src: url("/fonts/manic-depressive-webfont.eot"), url("/fonts/manic-depressive-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/manic-depressive-webfont.woff2") format("woff2"), url("/fonts/manic-depressive-webfont.woff") format("woff"), url("/fonts/manic-depressive-webfont.ttf") format("truetype"), url("/fonts/manic-depressive-webfont.svg#manic-depressiveregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.hw-app {
  position: relative; }

body {
  position: relative;
  font-size: 20x;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: url("../public/images/bg_cover.jpg") no-repeat fixed;
  background-size: 100% 100%;
  height: 100%; }

* {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box; }

p {
  padding: 5px 0; }

.section-heading {
  padding: 10px 0 10px; }

.view-container {
  margin: 60px 50px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: #000000; }
  a:visited {
    color: #000; }
  a:focus {
    color: #000000;
    text-shadow: 1px 1px 5px #ddd; }

.hw-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; }

.hw-menu-list {
  display: inline-block;
  float: right;
  padding: 1em;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #ddd;
  font-size: .8em;
  font-family: "manic-depressiveregular", serif, cursive; }
  .hw-menu-list li {
    display: inline-block;
    margin: 0 1em;
    transition: all 0.5s ease-out; }
    .hw-menu-list li a {
      text-decoration: none; }
      .hw-menu-list li a.active {
        text-decoration: underline; }

.hw-album-active {
  position: relative; }

.hw-player {
  width: 100%;
  height: 100%;
  position: relative; }

.hw-player-component {
  position: fixed; }
  .hw-player-component .audioElements__btnStack___JMnsK {
    background: #fff; }

.hw-album-active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  .hw-album-active .album-cover {
    width: 100%;
    height: 100%; }

.hw-playlist-container {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  border-left: 1px solid #000;
  right: 0;
  top: 0;
  z-index: 1001;
  background: #fff;
  opacity: 1; }

.hw-playlist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  aligh-items: stretch; }
  .hw-playlist .hw-song {
    flex-basis: 100%;
    position: relative;
    font-weight: 300;
    vertical-align: middle;
    width: 200px;
    font-family: "manic-depressiveregular", serif, cursive;
    text-shadow: 1px 1px 5px #ddd;
    text-align: left;
    margin: 5px;
    padding: 5px;
    font-size: 1.1em;
    border: 2px solid #000000; }
    .hw-playlist .hw-song .hw-song-content {
      height: 100%;
      display: table; }
    .hw-playlist .hw-song .song-name {
      display: table-cell;
      vertical-align: middle;
      max-width: 160px;
      overflow-wrap: normal;
      word-break: normal;
      margin: auto;
      text-align: left; }
  .hw-playlist .play-handle-wrapper {
    display: table-cell;
    width: 25px;
    padding-right: 5px;
    vertical-align: middle; }
  .hw-playlist .play-handle {
    display: inline-block;
    vertical-align: middle;
    transition: all 1s ease-out;
    vertical-align: middle;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #000000;
    opacity: 0.7;
    cursor: pointer; }

.hw-contacts {
  list-style-type: none;
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
  display: inline-block; }

.contact-link {
  margin: 10px 55px 10px 0;
  display: inline-block; }

.brand {
  font-family: "manic-depressiveregular", serif;
  font-size: 1.2em; }

.brand-action {
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none; }

pre {
  display: inline-block; }
