@import '_vars';
@import '_layout';
@import '_menu';
@import '_album_app';
@import '_contact';

.brand {
  font-family: $brandFont;
  font-size: 1.2em;
}

.brand-action {
  font-size: 1.5em;
  cursor: pointer;
}

pre {
  display: inline-block;
}





